.house {
  inline-size: 124rem;
  margin-inline: auto;
  @media (max-width: $phone) {
    inline-size: 33.5rem;
  }
  &__collapse {
    display: flex;
    justify-content: space-between;

    @media (max-width: $phone) {
     display: block;
     gap: 2rem;
    }
  }
  &__collapse > * {
    flex: 0 0 52.3rem;
  }
}
