.footer {
  align-self: flex-end;
  margin-block-start: 5rem;
  padding-block-start: 6.6rem;
  padding-block-end: 2.9rem;
  display: grid;
  gap: 2.8rem;
  place-items: center;
  background-color: $color-black;
  color: $color-white;
  @media (max-width: $phone) {
    margin-block-start: 2.7rem;
    padding-block-end: 6.6rem;
    gap: 1rem;
  }

  &__link {
    &__icon {
      inline-size: 12.2rem;
      block-size: 4rem;
    }
  }
  &__copy {
    @extend %description-24;
    @media (max-width: $phone) {
      max-inline-size: 13.35rem;
      text-align: center;
      line-height: 1.4;
    }
  }
}
